{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 class="text-center">Bonjour et bienvenue dans la démo de Symfony (3.4)</h1>
            </div>
            <div class="col-md-6 col-12">
                
            </div>
            <div class="col-md-6 col-12">

            </div>
        </div>
    </div>
{% endblock %}
